<mat-drawer-container autosize>
    <mat-toolbar>
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>ToDoApp - Login</span>
    </mat-toolbar>
    <mat-drawer class="sidenav-drawer" #drawer mode="over">
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <nav>
            <ul class="navList">
                <li class="elemListNav">
                    <a class="aListNav" routerLink="/insert">Crea ToDo</a>
                </li>
                <li class="elemListNav">
                    <a class="aListNav" routerLink="/todos">ToDo List</a>
                </li>
        
                <li *ngIf="!authService.isLoggedIn" class="elemListNav">
                    <a class="activeElemNav" routerLink="/login">Login</a>
                </li>
            </ul>
        </nav>
    </mat-drawer>
    <div class="fieldSetDiv">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div>
                <label for="email">Email</label><br>
                <input id="email" type="email" placeholder="Inserisci email..." [(ngModel)]="userLogin.email" #email="ngModel" name="email">
            </div>
            <div>
                <label for="password">Password </label><br>
                <input id="password" type="password" placeholder="Inserire password" [(ngModel)]="userLogin.password" name="password" #password="ngModel" required="required">
            </div>
            <div>
                <p>
                    Non hai un account? 
                    <button mat-button type="button" (click)="openDialog()">Registrati</button>
                </p>
            </div>
            <div>
                <button type="submit" [disabled]="myForm.form.invalid"> Accedi </button>
            </div>
        </form>
    </div>
</mat-drawer-container>