<!-- <mat-drawer-container autosize>
    <mat-toolbar>
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>ToDoApp - Login</span>
    </mat-toolbar>
    <mat-drawer class="sidenav-drawer" #drawer mode="over">
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <nav>
            <ul class="navList">
                <li class="elemListNav">
                    <a class="aListNav" routerLink="/insert">Crea ToDo</a>
                </li>
                <li class="elemListNav">
                    <a class="aListNav" routerLink="/todos">ToDo List</a>
                </li>
        
                <li *ngIf="!authService.isLoggedIn" class="elemListNav">
                    <a class="activeElemNav" routerLink="/login">Login</a>
                </li>
            </ul>
        </nav>
    </mat-drawer>
    <div class="fieldSetDiv">
        <form (ngSubmit)="onSubmit()" #myForm="ngForm">
            <div>
                <label for="email">Email</label><br>
                <input id="email" type="email" placeholder="Inserisci email..." [(ngModel)]="userLogin.email" #email="ngModel" name="email">
            </div>
            <div>
                <label for="password">Password </label><br>
                <input id="password" type="password" placeholder="Inserire password" [(ngModel)]="userLogin.password" name="password" #password="ngModel" required="required">
            </div>
            <div>
                <p>
                    Non hai un account? 
                    <button mat-button type="button" (click)="openDialog()">Registrati</button>
                </p>
            </div>
            <div>
                <button type="submit" [disabled]="myForm.form.invalid"> Accedi </button>
            </div>
        </form>
    </div>
</mat-drawer-container> -->
<mat-progress-bar mode="query" *ngIf="loginWorking"></mat-progress-bar>
<h2 mat-dialog-title>Login</h2>
<h5> Completa i campi per effettuare il login </h5>
<form (ngSubmit)="onSubmit()" [formGroup]="userLoginFormBuilder">
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Es: mariorossi@email.it" formControlName="email">
        <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <!--Password-->
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="passwordControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
    <div>
        <p>
            Non hai un account?
            <button mat-button type="button" (click)="openDialog()">Registrati</button>
        </p>
    </div>
    <mat-dialog-actions>
        <button type="button" mat-button color="warn" mat-dialog-close> Annulla </button>
        <button mat-button color="primary" type="submit" [disabled]="userLoginFormBuilder.invalid"> Accedi
        </button>
    </mat-dialog-actions>
</form>