<h2 mat-dialog-title>Registrazione </h2>
<h5> Completa tutti i campi per la registrazione </h5>

<!--Dialog content-->
<mat-dialog-content>
    <mat-progress-bar mode="query" *ngIf="signupLoading"></mat-progress-bar>
    <form (ngSubmit)="onSubmit()" [formGroup]="registrazioneFormBuilder">
        <!--Nome e cognome-->
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput type="text" placeholder="Es: Mario" formControlName="name">
            <mat-error *ngIf="nameControl.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Cognome</mat-label>
            <input matInput type="text" placeholder="Es: Rossi" formControlName="surname">
            <mat-error *ngIf="surnameControl.invalid">Completare il campo</mat-error>
        </mat-form-field>
        <br>
        <!--Email-->
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Es: mariorossi@email.it" formControlName="email">
            <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <br>
        <!--Password e conferma password-->
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-error *ngIf="passwordControl.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Conferma password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
            <mat-error *ngIf="confirmPasswordControl.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
        <div mat-line *ngIf="passwordMatchError">{{getNotMatchPassword()}}</div>
        <!--Bottoni: cancellazione e registrazione-->
        <mat-dialog-actions>
            <button type="button" mat-button color="warn" mat-dialog-close [disabled]="signupLoading"> Annulla </button>
            <button mat-button color="primary" type="submit" [disabled]="registrazioneFormBuilder.invalid || signupLoading">
                Registrati
            </button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>