mat-form-field {
    margin: 5px;
}

form {
    display: grid;
    grid-template-columns: 500px;
}
@media only screen and (max-width: 680px) {
    form {
        display: grid;
        grid-template-columns: 200px;
    }
}