<div>
    <h1>ToDoApp - Insert ToDo</h1>
</div>
<nav>
    <ul class="navList">
        <li class="elemListNav">
            <a class="activeElemNav" routerLink="/insert">Crea ToDo</a>
        </li>
        <li class="elemListNav">
            <a class="aListNav" routerLink="/todos">ToDo List</a>
        </li>
        <li *ngIf="!auth.isLoggedIn" class="elemListNav">
            <a class="aListNav" routerLink="/login">Login</a>
        </li>
        <li *ngIf="auth.isLoggedIn" class="elemListNav">
            <a class="aListNav" (click)="logout()">Logout</a>
        </li>
    </ul>
</nav>
<div class="insertToDO">
    <ng-container>
        <input type="text" placeholder="Aggiungi un ToDo" [(ngModel)]="textTodo" name="textTodo">
        <button mat-fab color="warn" (click)="takeToDo()">
            <mat-icon fontIcon="add"></mat-icon>
        </button>
    </ng-container>
</div>