.InputButtonDiv {
    text-align: center;
    padding-top: 2rem;
    height: 100%;
    background: linear-gradient(-45deg, #a45037, #234a91, #912077, #23d5ab);
    background-size: 500% 500%;
    animation: dynamicGradient 15s ease infinite;
    color: white;
}
/*fonte: https://codepen.io/P1N2O/pen/pyBNzX*/
@keyframes dynamicGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input[type=text] {
    width: 80%;
    font-size: 16px;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:hover {
    border: 3px solid #555;
}

input[type=text]:focus {
    border: 3px solid #555;
}