<mat-drawer-container>
    <mat-toolbar>
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>ToDoApp - I To-Do di {{nameUser}}</span>
    </mat-toolbar>
    <mat-drawer class="sidenav-drawer" #drawer mode="over">
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <!--Nav-->
        <nav>
            <ul class="navList">
                <li class="elemListNav">
                    <a class="aListNav" routerLink="/insert">Crea ToDo</a>
                </li>
                <li class="elemListNav">
                    <a class="activeElemNav" routerLink="/todos">ToDo List</a>
                </li>
                <li *ngIf="!auth.isLoggedIn" class="elemListNav">
                    <a class="aListNav" routerLink="/login">Login</a>
                </li>
                <li *ngIf="auth.isLoggedIn" class="elemListNav">
                    <a class="aListNav" (click)="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </mat-drawer>
    <!--Mat Tab Group-->
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <!--Mat Tab di tutti i todo completati e non-->
        <mat-tab label="I miei To-Do">
            <div *ngIf="toDoList.length>0">
                <ul class="ulListTodos">
                    <li *ngFor="let todo of toDoList" title="Clicca per aggiornare il task.">
                        <div class="singleElemGraphics" routerLink="/detail/{{todo.id}}"
                            [ngStyle]="{'background-color': todo.fatto ? '#98FB98' : '#FF8A8A'}">
                            <p>To-Do:</p>
                            <p>{{todo.todo_text}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div *ngIf="toDoList.length==0">
                <p>Non hai To-Do. Inizia a crearli</p>
            </div>
        </mat-tab>
        <!--Mat Tab di tutti i todo da svolgere -->
        <mat-tab label="To-Do non svolti">
            <ul class="ulListTodos">
                <li *ngFor="let todo of toDoList" title="Clicca per aggiornare il task.">
                    <div *ngIf="!todo.fatto" class="singleElemGraphics" routerLink="/detail/{{todo.id}}"
                        [ngStyle]="{'background-color':'#FF8A8A'}">
                        <p>To-Do:</p>
                        <p>{{todo.todo_text}}</p>
                    </div>
                </li>
            </ul>
        </mat-tab>
        <!--Mat Tab di tutti i todo completati-->
        <mat-tab label="To-Do completati">
            <ul class="ulListTodos">
                <li *ngFor="let todo of toDoList" title="Clicca per aggiornare il task.">
                    <div *ngIf="todo.fatto" class="singleElemGraphics" routerLink="/detail/{{todo.id}}"
                        [ngStyle]="{'background-color': '#98FB98'}">
                        <p>To-Do:</p>
                        <p>{{todo.todo_text}}</p>
                    </div>
                </li>
            </ul>
        </mat-tab>
    </mat-tab-group>
</mat-drawer-container>