<mat-drawer-container>
    <mat-toolbar>
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>ToDoApp - I To-Do di {{nameUser}}</span>
    </mat-toolbar>
    <mat-drawer class="sidenav-drawer" #drawer mode="over">
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <!--Nav-->
        <nav>
            <ul class="navList">
                <li class="elemListNav">
                    <a class="aListNav" routerLink="/insert">Crea ToDo</a>
                </li>
                <li class="elemListNav">
                    <a class="activeElemNav" routerLink="/todos">ToDo List</a>
                </li>
                <li *ngIf="!auth.isLoggedIn" class="elemListNav">
                    <a class="aListNav" routerLink="/login">Login</a>
                </li>
                <li *ngIf="auth.isLoggedIn" class="elemListNav">
                    <a class="aListNav" (click)="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </mat-drawer>
    <!-- <div *ngIf="toDoList == null">
        Caricamento in corso...
    </div> -->
    <!--Mat Tab Group-->
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <!--Mat Tab di tutti i todo completati e non-->
        <mat-tab label="I miei To-Do">
            <div class="flexContainer">
                <div class="cardLayout" *ngFor="let todo of toDoList" title="Clicca per il dettaglio."
                    routerLink="/detail/{{todo.id}}"
                    [ngStyle]="{'background-color': todo.fatto ? '#98FB98' : '#FF8A8A'}">
                    <div class="itemCard">
                        <h2>To-Do:</h2>
                        <p>{{todo.todo_text}}</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!--Mat Tab di tutti i todo da svolgere -->
        <mat-tab label="To-Do non svolti">
            <div class="flexContainer">
                <div class="cardLayout" *ngFor="let todo of notCompletedToDo()" title="Clicca per il dettaglio."
                    routerLink="/detail/{{todo.id}}" [ngStyle]="{'background-color': '#FF8A8A'}">
                    <div class="itemCard">
                        <h2>To-Do:</h2>
                        <p>{{todo.todo_text}}</p>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!--Mat Tab di tutti i todo completati-->
        <mat-tab label="To-Do completati">
            <div class="flexContainer">
                <div class="cardLayout" *ngFor="let todo of completedToDo()" title="Clicca per il dettaglio."
                    routerLink="/detail/{{todo.id}}" [ngStyle]="{'background-color': '#98FB98'}">
                    <div class="itemCard">
                        <h2>To-Do:</h2>
                        <p>{{todo.todo_text}}</p>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-drawer-container>