.LinearGradientContainer {
    text-align: center;
    padding-top: 2rem;
    height: 100%;
    background: linear-gradient(-45deg, #a45037, #234a91, #912077, #23d5ab);
    background-size: 500% 500%;
    animation: dynamicGradient 15s ease infinite;
    color: white;
}
/*fonte: https://codepen.io/P1N2O/pen/pyBNzX*/
@keyframes dynamicGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
p {
    color: black;
}

ul {
    list-style: none;
    padding: 2px;
}

.cardLayout {
    margin: 2rem auto;  
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.479);
    transition: 0.3s;
    width: 60%;
    height: auto;
    border-radius: 10px;
}

.cardLayout:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.container {
    padding: 1rem;
}

mat-form-field {
    margin: 1px auto;
    font-weight: bold;
    color: black;
    width: 100%;
    font-size: 15px;
}

.btnSingleToDo {
    margin-left: 5px;
}