<mat-drawer-container autosize>
    <!--Mat Toolbar-->
    <mat-toolbar color="primary">
        <button type="button" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>ToDoApp - Detail</span>
    </mat-toolbar>
    <!--Mat Drawer-->
    <mat-drawer class="sidenav-drawer" #drawer mode="over">
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <nav>
            <ul class="navList">
                <li class="elemListNav">
                    <a class="aListNav" routerLink="/insert">Crea ToDo</a>
                </li>
                <li class="elemListNav">
                    <a class="aListNav" routerLink="/todos">ToDo List</a>
                </li>
                <li *ngIf="auth.isLoggedIn" class="elemListNav">
                    <a class="aListNav" (click)="logout()">Logout</a>
                </li>
            </ul>
        </nav>
    </mat-drawer>
    <div class="LinearGradientContainer">
        <!--My card layout-->
        <div class="cardLayout">
            <!--Container-->
            <!--Mat card content (necessary to putting all mat form filed)-->
            <mat-card-content class="container">
                <p>Modifica il seguente ToDo, specificando anche se il seguente task è stato completato!</p>
                <mat-form-field appearance="outline">
                    <mat-label>To-Do</mat-label>
                    <input matInput type="text" [(ngModel)]="textTodo" [disabled]="toDoSelected.fatto == true">
                    <mat-hint align="end">{{textTodo.length}}/80</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Data creazione</mat-label>
                    <input matInput type="datetime" [ngModel]="toDoSelected.current_time" disabled>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Fatto?</mat-label>
                    <mat-select [(ngModel)]="checkStatus">
                        <mat-option [disabled]="toDoSelected.fatto" *ngFor="let status of todoStatus" [value]="status">
                            {{status}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!--Mat card action-->
                <mat-card-actions>
                    <button mat-raised-button class="btnSingleToDo" (click)="goBack()">Indietro</button>
                    <button mat-raised-button class="btnSingleToDo" color="warn" (click)="deleteTodo()">Elimina</button>
                    <button mat-raised-button class="btnSingleToDo" color="primary"
                        *ngIf="this.toDoSelected.fatto == false" (click)="updateTodo()">Aggiorna</button>
                </mat-card-actions>
            </mat-card-content>
        </div>
    </div>
</mat-drawer-container>