.LinearGradientContainer {
    padding-top: 2rem;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(-45deg, #a45037, #234a91, #912077, #23d5ab);
    background-size: 500% 500%;
    animation: dynamicGradient 15s ease infinite;
    color: white;
}

/*fonte: https://codepen.io/P1N2O/pen/pyBNzX*/
@keyframes dynamicGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

p {
    resize: both;
    color: black;
}

.cardLayout {
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.479);
    transition: 0.3s;
    width: 70%;
    height: auto;
    border-radius: 10px;
    text-align: center;

}

.cardLayout:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.container {
    display: grid;
    place-items: center;
    gap: 5px;
    padding: 1rem;
}

mat-form-field {
    margin: 1px auto;
    color: black;
    font-size: 15px;
    width: 100%;
}

.btnSingleToDo {
    margin: 5px 1px 0px 1px;
}

@media only screen and (max-width: 680px) {
    .cardLayout {
        width: 90%;
    }
}