<nav>
    <ul class="navList">
        <li class="elemListNav">
            <a class="aListNav" routerLink="/insert">Crea ToDo</a>
        </li>
        <li class="elemListNav">
            <a class="activeElemNav" routerLink="/todos">ToDo List</a>
        </li>
        <li class="elemListNav">
            <a class="aListNav" href="#">Login</a>
        </li>
        <li class="elemListNav">
            <a class="aListNav" href="#">Logout</a>
        </li>
    </ul>
</nav>

<ul class="ulListTodos">
    <li *ngFor="let todo of toDoList" title="Clicca per aggiornare il task.">
        <div class="singleElemGraphics" routerLink="/detail/{{todo.idTodo}}" [ngStyle]="{'background-color': todo.fatto ? '#98FB98' : '#FF8A8A'}">
            <p>ID: {{todo.idTodo}}</p>
            <p>To-Do: {{todo.toDoText}}</p>
        </div>
    </li>
</ul>