<div>
    <h1>ToDoApp - ToDo List</h1>
</div>
<!--Nav-->
<nav>
    <ul class="navList">
        <li class="elemListNav">
            <a class="aListNav" routerLink="/insert">Crea ToDo</a>
        </li>
        <li class="elemListNav">
            <a class="activeElemNav" routerLink="/todos">ToDo List</a>
        </li>
        <li class="elemListNav">
            <a class="aListNav" routerLink="/login">Login</a>
        </li>
        <li class="elemListNav">
            <a class="aListNav" href="#">Logout</a>
        </li>
    </ul>
</nav>

<!--Mat Tab Group-->
<mat-tab-group mat-align-tabs="center" dynamicHeight>
    <!--Mat Tab di tutti i todo completati e non-->
    <mat-tab label="All todo">
        <ul class="ulListTodos">
            <li *ngFor="let todo of toDoList" title="Clicca per aggiornare il task.">
                <div class="singleElemGraphics" routerLink="/detail/{{todo.idTodo}}"
                    [ngStyle]="{'background-color': todo.fatto ? '#98FB98' : '#FF8A8A'}">
                    <p>ID: {{todo.idTodo}}</p>
                    <p>To-Do: {{todo.toDoText}}</p>
                </div>
            </li>
        </ul>
    </mat-tab>
    <!--Mat Tab di tutti i todo da svolgere -->
    <mat-tab label="ToDo">
        <ul class="ulListTodos">
            <li *ngFor="let todo of toDoList" title="Clicca per aggiornare il task.">
                <div *ngIf="!todo.fatto" class="singleElemGraphics" routerLink="/detail/{{todo.idTodo}}"
                    [ngStyle]="{'background-color': todo.fatto ? '#98FB98' : '#FF8A8A'}">
                    <p>ID: {{todo.idTodo}}</p>
                    <p>To-Do: {{todo.toDoText}}</p>
                </div>
            </li>
        </ul>
    </mat-tab>
    <!--Mat Tab di tutti i todo completati-->
    <mat-tab label="Completati">
        <ul class="ulListTodos">
            <li *ngFor="let todo of toDoList" title="Clicca per aggiornare il task.">
                <div *ngIf="todo.fatto" class="singleElemGraphics" routerLink="/detail/{{todo.idTodo}}"
                    [ngStyle]="{'background-color': todo.fatto ? '#98FB98' : '#FF8A8A'}">
                    <p>ID: {{todo.idTodo}}</p>
                    <p>To-Do: {{todo.toDoText}}</p>
                </div>
            </li>
        </ul>
    </mat-tab>
</mat-tab-group>