/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

.navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(223, 223, 223);
}

.elemListNav .aListNav {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.activeElemNav {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.elemListNav .aListNav:hover {
    transition: 0.5s;
    background-color: rgb(162, 162, 162);
}

.elemListNav .aListNav:hover:not(.activeElemNav) {
    background-color: rgb(162, 162, 162);
}

.activeElemNav {
    background-color: #04AA6D;
}

.activeElemNav:hover {
    transition: 0.5s;
    background-color: #07ea97;
}

.activeElemNav:not(focus) {
    transition: 0.5s;
}

h1 {
    text-align: center;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
    font-size: 16px;
}

mat-drawer-container {
    height: 100%;
}

.sidenav-drawer {
    width: 25%;
}

@media only screen and (max-width: 680px) {
    .sidenav-drawer {
        width: 35%;
    }
}
mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}